header{
    width: 100vw;
    height: 37px;
}

.div-header{
    width: 641px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.header-logo{
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-1);
}

